body {
  font-size: 16px;
}


h2 {
  padding-left: 30px;
  font-size: 24px;
}

ul {
  padding-left: 30px;
}

ul li {
  padding-left: 5px;
  padding-right: 5px;
}

.index {
margin-left: 30px;
}

 .items {
  margin-left: 34px;
}
